<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width:device-width">
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
		<title>Plugins Proof Of Concept</title>
	</head>
	<body>
	<header>
		<div class="nav-bar">
			<ul class="navbar-nav">
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item">
						<a asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
					</li>
				}
				@if (User.IsInRole("Administrator"))
				{
					<li class="nav-item">
						<a asp-area="" asp-controller="Home" asp-action="OnlyAdmin">Admin panel</a>
					</li>
				}
			</ul>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	</body>
</html>